#skills
  min-height: 100vh
  background-image: url('/images/shattered-island.gif')

  ul
    column-count: 2
    text-align: center

    li
      padding-bottom: 40px

    .hiding-skill
      display: none

    .circle
      background-color: #fff
      border-radius: 50px
      height: 90px
      width: 90px
      margin: 0 auto
      display: flex
      align-items: center
      justify-content: center

      img
        width: 50px
        border-radius: 50px

    .skills-title
      padding-bottom: 20px
      display: block
      color: white
      letter-spacing: 0.2em

@media (min-width: 500px)
  #skills
    ul
      column-count: 3
      width: 70%
      margin: 0 auto

      li
        padding-bottom: 0px
        margin-bottom: 40px

      .hiding-skill
        display: block

      .skills-title
        font-size: 25px

      .circle
        border-radius: 100px
        height: 120px
        width: 120px

        img
          width: 75px
          border-radius: 50px
