#projects
  min-height: 100vh

  .rosiviel
    .project-image-home
      width: 70%
      margin: 0 auto
      display: block
      border-radius: 10px

    .project-image-detail1, .project-image-detail2
      display: none

    p
      padding-top: 50px;

@media (min-width: 500px)
  #projects
    .rosiviel
      text-align: center

      .project-image-detail1, .project-image-detail2
        width: 440px
        display: inline-block
        margin-right: 50px

      .project-image-home
        width: 25%
        display: inline-block
        margin-right: 50px

      .content
        padding-top: 150px
        line-height: 50px
